
.home-container {
  min-height: 100vh;
  display: top;
  justify-content: center;
  align-items: center;
  /* background: url('../../assets/background.jpg') no-repeat center center fixed; */
  background-size: cover;
  background: linear-gradient(135deg, #686565, #d9d9d9,#686565 ); /* Gradient từ trắng sang xám */
  
}

.home-card {
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(168, 29, 29, 0.2);
  animation: fadeIn 1s ease-in-out;
  background: linear-gradient(135deg, #ffffff, #8b8181,#ffffff,#8b8181); /* Gradient từ trắng sang xám */
}

.home-title {
  font-size: 56px;
  margin: auto;
  color: #524c40;
}

/* .home-description {
  font-size: 16px;
  color: #ca3e3e;
} */

.add-buttons {
  margin-top: 20px;
  left: 40%;
}

.log-buttons {
  margin-top: 20px;
  
  left: 40%;
}
.home-button {
  margin: 0 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}