.reset-password-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../../assets/background.jpg') no-repeat center center fixed;
    background-size: cover;

}
  
.reset-password-card {
width: 400px;
padding: 20px;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.reset-password-title {
text-align: center;
color: #524c40;
}
@keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(-50px); /* Bắt đầu từ bên trái */
    }
    to {
      opacity: 1;
      transform: translateX(0); /* Kết thúc tại vị trí ban đầu */
    }
  }

  .reset-password-card {
    animation: slideIn 1s ease-in-out;
  }